$main-font: 'Roboto Mono', sans-serif;
$slider-font: 'Abril Fatface', serif;

$border-colour: #eaeaea;

$navbar-background-colour: #e9f0f7;
$navbar-mobile-background-colour: #CED9E4;
$navbar-colour: #2d4966;